h2 Reports page
md-card(md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}", md-theme-watch='')
  md-card-title
    md-card-title-text
      span.md-headline Reports
      span.md-subhead Large
    md-card-title-media
      .md-media-lg.card-media
        ng-md-icon(icon='insert_chart', size='64')
