md-card
  md-card-title
    md-card-title-text
      span.md-headline Card with image
      span.md-subhead Large
    md-card-title-media
      .md-media-lg.card-media
  md-card-actions(layout='row', layout-align='end center')
    md-button Action 1
    md-button Action 2
