md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
  div(ng-cloak='')
    md-toolbar.hide-gt-md
      .md-toolbar-tools
        span(flex='')
        md-button.hide-gt-md(ng-click="vm.$mdSidenav('left').close()", aria-label='close sidenav')
          ng-md-icon(icon='close')
    md-list
    .md-no-sticky.md-subheader
      .md-subheader-inner
        span.md-subheader-content
          span.ng-scope Main Menu
      md-list-item(ng-repeat='item in vm.menu', ng-click="vm.selected = $index; vm.$state.go(item.link); vm.$mdSidenav('left').close();", ng-class="{selected: $index==vm.selected}")
        .inset(ng-show='item.icon')
          ng-md-icon(icon='{{item.icon}}')
        p {{ item.name }}
      md-divider
