body, md-content.md-blue-grey-theme {
  background-color: #eee;
}
md-toolbar {
  height: 48px;
  max-height: 48px;
  min-height: 48px;
}
.card-media {
  background-color: #999999;
}
md-list-item:hover {
	color: #2196f3;
}
md-list-item {
  border-left: 4px solid transparent;
}
md-list-item.selected {
  border-left-color: #2196f3;
}
